*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    min-height: 100vh;
    width: 100%;
    background-color : #c8fcfc;
}
.form{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-el-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    
}

.form-inputs {
    width: 100%;
    padding: 10px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 2px 0px;
}



